*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --side-card-height: 0;
  --border-color: white;
}

html{
  color-scheme: dark light;
}

body{
  background-color: rgb(32, 32, 32);
}

#main{
  display: flex;
  height: 100svh;
}

.inactive{

}

#column-one{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #2b2b2b;
}

.player-button{
  height: var(--side-card-height);
  width: var(--side-card-height);
}

.score-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#column-two{

}

.main-content-box{
  width: 100%;
  height: 100%;
}

.point-container{
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
}

.point-box{
  outline: 1px solid var(--border-color);
  margin: 3px 5px;
  padding: 3px 5px;
  border-radius: 3px;
}

.clicker-box{
  display: flex;
  justify-content: space-evenly;
}