*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --side-card-height: 0;
  --border-color: white;
}

html{
  color-scheme: dark light;
}

body{
  background-color: #202020;
}

#main{
  display: flex;
  height: 100svh;
  width: 100%;
}
input{
  width: 50px;
}

#column-one{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #2b2b2b;
}

.player-button{
  height: var(--side-card-height);
  width: var(--side-card-height);
}

.score-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#column-two{
  width: 100%;
}

.main-content-box{
  width: 100%;
  background-color: #202020;
  height: 100%;
}

.point-container{
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
}

.point-box{
  outline: 1px solid var(--border-color);
  margin: 3px 5px;
  padding: 3px 5px;
  border-radius: 3px;
}

.clicker-box{
  display: flex;
  justify-content: space-evenly;
}

.bonus-image{
  height: 50px;
  width: 50px;
}

.bonus-icon-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.bonus-icon-container{
  display: flex;
  gap: clamp(3px, 5px, 10px);
}

/* .icon-row{
  display: flex;
  justify-content: space-between;
} */

.results-box{
  display: flex;
  flex-direction: column;
}

.player-results-box{
  border: 1px solid white;
  border-radius: 10px;
  padding: 6px 10px;
  margin: 0 10px;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 70px;
}